# **Improving Employee Retention By Predicting Employee Attrition Using Machine Learning**

---
# Business Understanding
---

Human resources (HR) represent the fundamental assets that require effective management for the company to achieve its business goals efficiently. In this context, we are addressing a challenge related to human resources within the company. Our primary objective is to understand how to retain employees within the current organization, recognizing that turnover incurs increased costs for employee recruitment and training, especially for those who have recently joined. Identifying the key factors contributing to employee dissatisfaction allows the company to proactively address these issues by implementing targeted programs that directly tackle employee concerns.

---
# Import Library
---

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime

In [2]:
print (pd.options.display.max_columns)
pd.options.display.max_columns = 100
print (pd.options.display.max_columns)

20
100

---
# Load Data
---

In [3]:
df = pd.read_excel('dataset/Improving Employee Retention by Predicting Employee Attrition Using Machine Learning.xlsx')
df

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,SkorSurveyEngagement,SkorKepuasanPegawai,JumlahKeikutsertaanProjek,JumlahKeterlambatanSebulanTerakhir,JumlahKetidakhadiran,NomorHP,Email,TingkatPendidikan,PernahBekerja,IkutProgramLOP,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
0,spiritedPorpoise3,111065,Belum_menikah,Pria,Outsource,Software Engineer (Back End),Freshgraduate_program,Sangat_bagus,Jakarta Timur,Employee_Referral,4,4.0,0.0,0.0,9.0,+6282232522xxx,spiritedPorpoise3135@yahoo.com,Magister,1,1.0,masih_bekerja,1972-07-01,2011-01-10,2016-2-15,-
1,jealousGelding2,106080,Belum_menikah,Pria,FullTime,Data Analyst,Freshgraduate_program,Sangat_kurang,Jakarta Utara,Website,4,4.0,4.0,0.0,3.0,+6281270745xxx,jealousGelding2239@yahoo.com,Sarjana,1,1.0,toxic_culture,1984-04-26,2014-01-06,2020-1-17,2018-6-16
2,pluckyMuesli3,106452,Menikah,Pria,FullTime,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Timur,Indeed,4,3.0,0.0,0.0,11.0,+6281346215xxx,pluckyMuesli3961@icloud.com,Magister,1,1.0,jam_kerja,1974-01-07,2011-01-10,2016-01-10,2014-9-24
3,stressedTruffle1,106325,Belum_menikah,Pria,Outsource,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Pusat,LinkedIn,3,3.0,0.0,4.0,6.0,+6283233846xxx,stressedTruffle1406@hotmail.com,Sarjana,1,0.0,masih_bekerja,1979-11-24,2014-2-17,2020-02-04,-
4,shyTermite7,111171,Belum_menikah,Wanita,FullTime,Product Manager,Freshgraduate_program,Bagus,Jakarta Timur,LinkedIn,3,3.0,0.0,0.0,11.0,+6287883263xxx,shyTermite7149@gmail.com,Sarjana,1,0.0,ganti_karir,1974-11-07,2013-11-11,2020-1-22,2018-09-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,dopeySheep0,106034,Belum_menikah,Wanita,FullTime,Data Engineer,Mid_level,Bagus,Jakarta Pusat,Google_Search,2,5.0,0.0,0.0,16.0,+6283343465xxx,dopeySheep0297@icloud.com,Sarjana,1,NaN,NaN,1973-12-08,2011-9-26,2016-03-01,-
283,yearningPorpoise4,106254,-,Wanita,FullTime,Product Design (UI & UX),Freshgraduate_program,Biasa,Jakarta Timur,LinkedIn,4,5.0,0.0,0.0,11.0,+6281222782xxx,yearningPorpoise4421@yahoo.com,Sarjana,1,NaN,jam_kerja,1974-12-01,2013-5-13,2020-1-28,2017-11-15
284,murkySausage9,110433,Menikah,Wanita,FullTime,Software Engineer (Front End),Senior_level,Biasa,Jakarta Pusat,Diversity_Job_Fair,2,5.0,0.0,0.0,17.0,+6285821950xxx,murkySausage9688@yahoo.com,Sarjana,1,1.0,ganti_karir,1969-10-30,2013-11-11,2020-1-21,2018-06-08
285,truthfulMoth4,110744,Belum_menikah,Pria,FullTime,Software Engineer (Android),Mid_level,Bagus,Jakarta Utara,Google_Search,4,5.0,0.0,0.0,20.0,+6287787391xxx,truthfulMoth4663@yahoo.com,Sarjana,1,0.0,kejelasan_karir,1981-10-01,2011-5-16,2014-04-05,2018-04-01
286,puzzledFish5,106214,Menikah,Pria,Internship,Data Analyst,Mid_level,Bagus,Jakarta Barat,Indeed,4,3.0,0.0,0.0,2.0,+6287722818xxx,puzzledFish5776@hotmail.com,Sarjana,1,NaN,NaN,1981-08-10,2012-8-16,2020-1-14,-

---
# Stage 1: Data Preprocessing
---

## Univariate Analysis

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 25 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Username                            287 non-null    object
 1   EnterpriseID                        287 non-null    int64
 2   StatusPernikahan                    287 non-null    object
 3   JenisKelamin                        287 non-null    object
 4   StatusKepegawaian                   287 non-null    object
 5   Pekerjaan                           287 non-null    object
 6   JenjangKarir                        287 non-null    object
 7   PerformancePegawai                  287 non-null    object
 8   AsalDaerah                          287 non-null    object
 9   HiringPlatform                      287 non-null    object
 10  SkorSurveyEngagement                287 non-null    int64
 11  SkorKepuasanPegawai                 282 non-null    float64
 12  JumlahKeikutsertaanProjek           284 non-null    float64
 13  JumlahKeterlambatanSebulanTerakhir  286 non-null    float64
 14  JumlahKetidakhadiran                281 non-null    float64
 15  NomorHP                             287 non-null    object
 16  Email                               287 non-null    object
 17  TingkatPendidikan                   287 non-null    object
 18  PernahBekerja                       287 non-null    object
 19  IkutProgramLOP                      29 non-null     float64
 20  AlasanResign                        221 non-null    object
 21  TanggalLahir                        287 non-null    object
 22  TanggalHiring                       287 non-null    object
 23  TanggalPenilaianKaryawan            287 non-null    object
 24  TanggalResign                       287 non-null    object
dtypes: float64(5), int64(2), object(18)
memory usage: 56.2+ KB

According to the data frame information, several features exhibit missing values, and there is a need to adjust the data types for ease of processing. Here are the details:

**Features with Missing Values:**
- SkorKepuasanPegawai, JumlahKeikutsertaanProjek, JumlahKetidakhadiran, IkutProgramLOP, AlasanResign contain missing values.

**Features Requiring Datatype Change:**
- TanggalLahir, TanggalHiring, TanggalPenilaianKaryawan, TanggalResign will be converted to datetime datatype for better processing.

In [5]:
categorical = ['StatusPernikahan', 'JenisKelamin', 'StatusKepegawaian', 'Pekerjaan', 'JenjangKarir', 'PerformancePegawai', 'AsalDaerah', 'HiringPlatform', 'TingkatPendidikan', 'PernahBekerja', 'AlasanResign']
numerical = ['SkorSurveyEngagement', 'SkorKepuasanPegawai', 'JumlahKeikutsertaanProjek', 'JumlahKeterlambatanSebulanTerakhir', 'JumlahKetidakhadiran', 'IkutProgramLOP']

In [6]:
df[categorical].describe()

,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,TingkatPendidikan,PernahBekerja,AlasanResign
count,287,287,287,287,287,287,287,287,287,287,221
unique,5,2,3,14,3,5,5,9,3,2,11
top,Belum_menikah,Wanita,FullTime,Software Engineer (Back End),Freshgraduate_program,Biasa,Jakarta Pusat,Indeed,Sarjana,1,masih_bekerja
freq,132,167,217,109,169,85,72,85,176,286,132

There are several categorical features, namely StatusKepegawaian, JenjangKarir, and PernahBekerja, that exhibit a significant number of top-category differences compared to others. These features warrant further analysis to determine whether this feature is good or not.

In [7]:
for i in categorical:
    print('=======================================================================================================')
    print(i, ':', len(df[i].unique()))
    print(i, ':', df[i].unique())

=======================================================================================================
StatusPernikahan : 5
StatusPernikahan : ['Belum_menikah' 'Menikah' 'Bercerai' 'Lainnya' '-']
=======================================================================================================
JenisKelamin : 2
JenisKelamin : ['Pria' 'Wanita']
=======================================================================================================
StatusKepegawaian : 3
StatusKepegawaian : ['Outsource' 'FullTime' 'Internship']
=======================================================================================================
Pekerjaan : 14
Pekerjaan : ['Software Engineer (Back End)' 'Data Analyst'
 'Software Engineer (Front End)' 'Product Manager'
 'Software Engineer (Android)' 'Scrum Master'
 'Product Design (UX Researcher)' 'Product Design (UI & UX)'
 'Digital Product Manager' 'Data Engineer' 'Software Engineer (iOS)'
 'DevOps Engineer' 'Software Architect' 'Machine Learning Engineer']
=======================================================================================================
JenjangKarir : 3
JenjangKarir : ['Freshgraduate_program' 'Senior_level' 'Mid_level']
=======================================================================================================
PerformancePegawai : 5
PerformancePegawai : ['Sangat_bagus' 'Sangat_kurang' 'Bagus' 'Biasa' 'Kurang']
=======================================================================================================
AsalDaerah : 5
AsalDaerah : ['Jakarta Timur' 'Jakarta Utara' 'Jakarta Pusat' 'Jakarta Selatan'
 'Jakarta Barat']
=======================================================================================================
HiringPlatform : 9
HiringPlatform : ['Employee_Referral' 'Website' 'Indeed' 'LinkedIn' 'CareerBuilder'
 'Diversity_Job_Fair' 'Google_Search' 'On-line_Web_application' 'Other']
=======================================================================================================
TingkatPendidikan : 3
TingkatPendidikan : ['Magister' 'Sarjana' 'Doktor']
=======================================================================================================
PernahBekerja : 2
PernahBekerja : [1 'yes']
=======================================================================================================
AlasanResign : 12
AlasanResign : ['masih_bekerja' 'toxic_culture' 'jam_kerja' 'ganti_karir' 'tidak_bahagia'
 'internal_conflict' 'Product Design (UI & UX)' 'kejelasan_karir'
 'tidak_bisa_remote' 'apresiasi' nan 'leadership']

Based on the unique values in categorical features, the following improvements will be made to the data:

- **StatusPernikahan:**
  - Unique values '-' and 'lainnya' will be changed to 'unknown' for standardization.

- **PernahBekerja:**
  - The feature will be dropped as the unique values do not provide meaningful information.

In [8]:
df[numerical].describe()

,SkorSurveyEngagement,SkorKepuasanPegawai,JumlahKeikutsertaanProjek,JumlahKeterlambatanSebulanTerakhir,JumlahKetidakhadiran,IkutProgramLOP
count,287.000000,282.000000,284.000000,286.000000,281.000000,29.000000
mean,3.101045,3.904255,1.179577,0.412587,10.448399,0.517241
std,0.836388,0.913355,2.294441,1.275016,6.902252,0.508548
min,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
25%,3.000000,3.000000,0.000000,0.000000,5.000000,0.000000
50%,3.000000,4.000000,0.000000,0.000000,10.000000,1.000000
75%,4.000000,5.000000,0.000000,0.000000,15.000000,1.000000
max,5.000000,5.000000,8.000000,6.000000,55.000000,1.000000

Based on the analysis of numerical features, all features exhibit normal values, and although some features display skewness, no corrective actions will be taken. This decision suggests that the overall distribution and characteristics of the numerical features are considered acceptable, and no adjustments are deemed necessary at this point.

In [9]:
# Changing datatype into datetime
df['TanggalLahir'] = pd.to_datetime(df['TanggalLahir'], format='%Y-%m-%d')
df['TanggalHiring'] = pd.to_datetime(df['TanggalHiring'], format='%Y-%m-%d')
df['TanggalPenilaianKaryawan'] = pd.to_datetime(df['TanggalPenilaianKaryawan'], format='%Y-%m-%d')
df['TanggalResign'].replace('-', np.nan, inplace=True)
df['TanggalResign'] = pd.to_datetime(df['TanggalResign'], format='%Y-%m-%d')

# Change value in StatusPernikahan
df['StatusPernikahan'].replace(['-', 'Lainnya'], 'unknown', inplace=True)

# Drop not meaningful columns
df.drop(['PernahBekerja'], axis = 1, inplace = True)

## Handling Missing Value

In [12]:
df.isnull().sum()

Username                                0
EnterpriseID                            0
StatusPernikahan                        0
JenisKelamin                            0
StatusKepegawaian                       0
Pekerjaan                               0
JenjangKarir                            0
PerformancePegawai                      0
AsalDaerah                              0
HiringPlatform                          0
SkorSurveyEngagement                    0
SkorKepuasanPegawai                     5
JumlahKeikutsertaanProjek               3
JumlahKeterlambatanSebulanTerakhir      1
JumlahKetidakhadiran                    6
NomorHP                                 0
Email                                   0
TingkatPendidikan                       0
IkutProgramLOP                        258
AlasanResign                           66
TanggalLahir                            0
TanggalHiring                           0
TanggalPenilaianKaryawan                0
TanggalResign                         198
dtype: int64

Based on the quantity of missing values in each column, the following actions will be taken:
- 'IkutProgramLOP' and 'TanggalResign' will be dropped due to the substantial number of missing values.
- 'AlasanResign' is set to be replaced with 'unknown'.
- 'SkorKepuasanPegawai', 'JumlahKeikutsertaanProjek', 'JumlahKeterlambatanSebulanTerakhir', and 'JumlahKetidakhadiran' will be replaced with the median. Given the limited data, this approach is suggested to minimize data loss.

In [17]:
df.drop(['IkutProgramLOP', 'TanggalResign'], axis = 1, inplace = True)
df["AlasanResign"].fillna("unknown", inplace = True)
df['SkorKepuasanPegawai'].fillna(df['SkorKepuasanPegawai'].median(), inplace = True)
df['JumlahKeikutsertaanProjek'].fillna(df['JumlahKeikutsertaanProjek'].median(), inplace = True)
df['JumlahKeterlambatanSebulanTerakhir'].fillna(df['JumlahKeterlambatanSebulanTerakhir'].median(), inplace = True)
df['JumlahKetidakhadiran'].fillna(df['JumlahKetidakhadiran'].median(), inplace = True)

## Handling Duplicated Data

In [19]:
df.duplicated().sum()

0

There is no duplicate value.

## Feature Engineering

Date data can be challenging to use directly in machine learning models, so a transformation will be applied to make it more useful. Specifically, the date data will be extracted to create two new features:

1. **Umur_pd_Penilaian:**
   - This feature will represent the age of the employee at the time of the 'penilaian karyawan'.

2. **Months_Hiring_Penilaian (Months_between_Hiring_and_Assessment):**
   - This feature will represent the number of Months between the hiring date and the 'penilaian karyawan' date.

These new features aim to provide more meaningful and model-friendly representations of the time-related information in the dataset.

In [32]:
df['Umur_pd_Penilaian'] = df['TanggalPenilaianKaryawan'].dt.year - df['TanggalLahir'].dt.year
df['Months_Hiring_Penilaian'] = ((df['TanggalPenilaianKaryawan']-df['TanggalHiring'])/np.timedelta64(1, 'M'))
df['Umur_pd_Penilaian'] = df['Umur_pd_Penilaian'].astype(int)
df['Months_Hiring_Penilaian'] = df['Months_Hiring_Penilaian'].astype(int)

In [33]:
df

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,SkorSurveyEngagement,SkorKepuasanPegawai,JumlahKeikutsertaanProjek,JumlahKeterlambatanSebulanTerakhir,JumlahKetidakhadiran,NomorHP,Email,TingkatPendidikan,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,Umur_pd_Penilaian,Months_Hiring_Penilaian
0,spiritedPorpoise3,111065,Belum_menikah,Pria,Outsource,Software Engineer (Back End),Freshgraduate_program,Sangat_bagus,Jakarta Timur,Employee_Referral,4,4.0,0.0,0.0,9.0,+6282232522xxx,spiritedPorpoise3135@yahoo.com,Magister,masih_bekerja,1972-07-01,2011-01-10,2016-02-15,44,60
1,jealousGelding2,106080,Belum_menikah,Pria,FullTime,Data Analyst,Freshgraduate_program,Sangat_kurang,Jakarta Utara,Website,4,4.0,4.0,0.0,3.0,+6281270745xxx,jealousGelding2239@yahoo.com,Sarjana,toxic_culture,1984-04-26,2014-01-06,2020-01-17,36,71
2,pluckyMuesli3,106452,Menikah,Pria,FullTime,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Timur,Indeed,4,3.0,0.0,0.0,11.0,+6281346215xxx,pluckyMuesli3961@icloud.com,Magister,jam_kerja,1974-01-07,2011-01-10,2016-01-10,42,58
3,stressedTruffle1,106325,Belum_menikah,Pria,Outsource,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Pusat,LinkedIn,3,3.0,0.0,4.0,6.0,+6283233846xxx,stressedTruffle1406@hotmail.com,Sarjana,masih_bekerja,1979-11-24,2014-02-17,2020-02-04,41,70
4,shyTermite7,111171,Belum_menikah,Wanita,FullTime,Product Manager,Freshgraduate_program,Bagus,Jakarta Timur,LinkedIn,3,3.0,0.0,0.0,11.0,+6287883263xxx,shyTermite7149@gmail.com,Sarjana,ganti_karir,1974-11-07,2013-11-11,2020-01-22,46,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,dopeySheep0,106034,Belum_menikah,Wanita,FullTime,Data Engineer,Mid_level,Bagus,Jakarta Pusat,Google_Search,2,5.0,0.0,0.0,16.0,+6283343465xxx,dopeySheep0297@icloud.com,Sarjana,unknown,1973-12-08,2011-09-26,2016-03-01,43,52
283,yearningPorpoise4,106254,unknown,Wanita,FullTime,Product Design (UI & UX),Freshgraduate_program,Biasa,Jakarta Timur,LinkedIn,4,5.0,0.0,0.0,11.0,+6281222782xxx,yearningPorpoise4421@yahoo.com,Sarjana,jam_kerja,1974-12-01,2013-05-13,2020-01-28,46,79
284,murkySausage9,110433,Menikah,Wanita,FullTime,Software Engineer (Front End),Senior_level,Biasa,Jakarta Pusat,Diversity_Job_Fair,2,5.0,0.0,0.0,17.0,+6285821950xxx,murkySausage9688@yahoo.com,Sarjana,ganti_karir,1969-10-30,2013-11-11,2020-01-21,51,72
285,truthfulMoth4,110744,Belum_menikah,Pria,FullTime,Software Engineer (Android),Mid_level,Bagus,Jakarta Utara,Google_Search,4,5.0,0.0,0.0,20.0,+6287787391xxx,truthfulMoth4663@yahoo.com,Sarjana,kejelasan_karir,1981-10-01,2011-05-16,2014-04-05,33,34
286,puzzledFish5,106214,Menikah,Pria,Internship,Data Analyst,Mid_level,Bagus,Jakarta Barat,Indeed,4,3.0,0.0,0.0,2.0,+6287722818xxx,puzzledFish5776@hotmail.com,Sarjana,unknown,1981-08-10,2012-08-16,2020-01-14,39,87

The dataset will be done for deeper analysis, steps like feature encoding, scaling, splitting, and similar processes will be deferred to a later stage.